.chart{
   
    padding: 20px;
    align-self: center;

}

.chartTile{
    float: left;

    width: 60%;

    background-color: wheat;
    border-radius: 20px;
    /* margin-left: 20px; */

}
