.topbar{
    width: 100%;
    height:60px;
    background-color: wheat;
    top:0;
    position:sticky;
    z-index:999;
    border-radius: 0px 0px 15px 15px;

}

.topbarWrapper{
    height:100%;
    padding:0px 1%;
    display: flex;
    align-items:center;
    justify-content: space-between;


}
.logo{
    image-rendering: auto;
    image-resolution: 300dpi;
    vertical-align: middle;
    /* padding: 10px; */
    max-height: 30px;
    align-items: flex-start;
    cursor: pointer;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid gray;
    margin: 20px; 
 
    background-color: skyblue;
    cursor: pointer;
}

.icon{
    font-size: 40px;
    color: gray;
    cursor: pointer;
    margin: 20px;
    padding-top: 10px;
}

.itemArray{
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    
}
